<h1 class="mt-4 mb-4">Đăng kí khóa học</h1>
<form method="POST" action="/courses/store">
  <div class="row d-block">
    <div class="mb-3 col-6">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="exampleInputEmail1"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">Image</label>
      <input
        type="text"
        class="form-control"
        name="image"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">Video</label>
      <input
        type="text"
        class="form-control"
        name="videoID"
        id="exampleInputPassword1"
      />
    </div>
    <div class="ml-4">
      <button type="submit" class="btn btn-primary col-2">Thêm khóa học</button>
    </div>
  </div>
</form>