<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">F8 Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" style="line-height: 2.4;">
          <img
            class="header-img"
            src="https://image.tienphong.vn/w1966/Uploaded/2024/pgi-ubnvgunau/2024_05_29/444489138-1019981339484259-4504008877707254740-n-2092.jpg"
          />
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Quang Tú
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Đăng Khóa Học</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của
                tôi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>