<form method="get" action="/views">
  <div class="mt-4">
    <div class="mb-3">
      <label for="search-name" class="form-label">Tìm kiếm</label>
      <input class="form-control" id="search-name" name="phone" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>